{% extends "KnnfWhatsupBundle:Layout:admin.html.twig" %}

{% block body -%}
	{% block content %}




	<div id="content">
            <div id="content-header">
                <h1>Dashboard</h1>
                <div class="btn-group">
                    
                </div>
            </div>

            	



            <div id="breadcrumb">
                <a href="{{ path('admin_index')}}" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
                <a href="{{ path('admin_category')}}" class="current">Utilisateurs</a>
                <a href="{{ path('admin_add_category')}}" class="current">Ajouter</a>
            </div>
            <div class="container-fluid">
               
                
	  	<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-plus"></i>
								</span>
								<h5>Ajouter un nouveau utilisateur</h5>
							</div>
							<div class="widget-content nopadding">
								<form id="form-wizard" class="form-horizontal" method="post">
									<div id="form-wizard-1" class="step">
										<div class="form-group">
											<label class="control-label">Categorie parent</label>
											<div class="controls">
											{{ form_widget(form.category, {'class': 'form-control input-small'})}}
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Label</label>
											<div class="controls">
												
											{{ form_widget(form.name, {'attr': {'class': 'form-control input-small'}})}}
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Slug</label>
											<div class="controls">
												
											{{ form_widget(form.slug, {'attr': {'class': 'form-control input-small'}})}}
											</div>
										</div>
									{{ form_widget(form._token) }}
									<div class="form-actions">
											{{ form_widget(form.submit)}}

											<div id="status"></div>
									</div>
									<div id="submitted"></div>
								</form>
							</div>
						</div>
					</div>
			</div>

            </div>
        </div>
	{% endblock %}

{% endblock %}
