{% extends "KnnfWhatsupBundle:Layout:admin.html.twig" %}

{% block title %}KnnfWhatsupBundle:Admin:article{% endblock %}

{% block body %}
	{% block content %}
		<div id="content">
			<div id="content-header">
				<h1>Commentaire</h1>
				<div class="btn-group">
					
				</div>
			</div>
			
			<div id="breadcrumb">
				<a href="{{ path('admin_index')}}" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
				<a href="{{ path('admin_article')}}" class="current">Commentaire</a>
			</div>
			
			<div class="container-fluid">
				
				<div class="row">
					<div class="col-12">
					{#<button class="btn btn-default" onclick='window.location.href = "{{ url('admin_add_article')}}"'> Ajouter </a></button>#}
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="glyphicon glyphicon-user"></i></span>
								<h5>LISTE DES COMMENTAIRE</h5><span title="{{count}} articles" class="label label-info tip-left">{{count}}</span>
							</div>
							<div class="widget-content nopadding">
								{# Tableau listing articles #}
								<div class="widget-content nopadding">
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr>
												<th>AUTEUR</th>
												<th>ARTICLE</th>
												<th>CONTENU</th>
												<th>DATE</th>
												<th>ACTIONS</th>
											</tr>
										</thead>
										<tbody>
											{% for comment in comments %}
											<tr>
												<td><a href="{{path('user_show',{'id':comment.user.id})}}">{{ comment.user.username }}</a></td>
												<td>{{ comment.article.title }}</td>
												<td>{{ comment.AnnotationContent|slice(0, 20) }}</td>
												<td>{{ comment.dateinsert|date('d-m-Y') }}</td>

												<td>
                                            {% if 31 in rights %}     

													<a href="{{path('admin_edit_annotation',{'id':comment.id})}}">
													<button class="btn btn-info btn-mini" >
														<i class="fa fa-edit"></i> Editer
													</button>
													</a>
											{% endif %}

                                            {% if 32 in rights %}     

													<button class="btn btn-danger btn-mini" onclick="deleteAnnotation('{{ comment.id }}')">
														<i class="fa fa-edit"></i> Supprimer
													</button>
											{% endif %}
													<a href="{{path('admin_show_annotation',{'id':comment.id})}}" style="color:#fff">
													<button class="btn btn-primary btn-mini" >
														 Voir le commentaire
													</button>
													</a>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>							
								</div>
								{# Fin Tableau listing articles #}
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
		{% block javascripts %}
			<script>
				function deleteAnnotation(id){
				    $.ajax({
				        url: "{{ path('annotation_delete')}}",
				        type: "post",
				        data: {id : id},
				        success: function(){
				            alert("success");
				            window.location.reload();
				            //$("#result").html('Submitted successfully');
				        },
				        error:function(){
				            alert("failure");
				            //$("#result").html('There is error while submit');
				        }
				    });
				};

				function activateAnnotation(id)
				{
					$.ajax({
						url: "{{ path('annotation_activate')}}",
						type: "post",
						data: {id : id},
						success: function(){
							alert("success");
							window.location.reload();
						},
						error:function(){
							alert("failure");
						}
					});
				};
			</script>
		{% endblock %}
	{% endblock %}
{% endblock %}