{% extends "KnnfWhatsupBundle:Layout:admin.html.twig" %}

{% block body -%}
	{% block content %}




	<div id="content">
            <div id="content-header">
                <h1>Dashboard</h1>
                <div class="btn-group">
                    
                </div>
            </div>

            	



            <div id="breadcrumb">
                <a href="{{ path('admin_index')}}" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
                <a href="{{ path('admin_user')}}" class="current">Annotation</a>
                <a href="{{ path('admin_edit_annotation', { 'id': entity.id }) }}" class="current">Editer</a>
            </div>
            <div class="container-fluid">
               
                
	  	<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-plus"></i>
								</span>
								<h5>Editer une annotation</h5>
							</div>
							<div class="widget-content nopadding">
								<form id="form-wizard" class="form-horizontal" method="post">
									<div id="form-wizard-1" class="step">
										<div class="form-group">
											<div class="form-group">
												<label class="control-label"><strong>Auteur</strong></label>
												<div class="controls">
													{{entity.user.username}}
												</div>
											</div>
											<div class="form-group">
												<label class="control-label"><strong>Type</strong></label>
												<div class="controls">
													{{entity.AnnotationType}}
												</div>
											</div>
											<label class="control-label"><strong>Commentaire</strong></label>
											<div class="controls">
												<input type="hidden" value="PUT" name="_method">
											{{ form_widget(form.AnnotationContent)}}

											</div>
										</div>
									</div>
									{{ form_widget(form._token) }}
									<div class="form-actions">
											{{ form_widget(form.submit)}}

											<div id="status"></div>
									</div>
									<div id="submitted"></div>
								</form>
							</div>
						</div>
					</div>
			</div>

            </div>
        </div>
	{% endblock %}

{% endblock %}
