{% extends "KnnfWhatsupBundle:Layout:admin.html.twig" %}

{% block title %}KnnfWhatsupBundle:Admin:event{% endblock %}

{% block body %}
	{% block content %}
		<div id="content">
			<div id="content-header">
				<h1>Evénements</h1>
				<div class="btn-group">
				</div>
			</div>
			
			<div id="breadcrumb">
				<a href="{{ path('admin_index')}}" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
				<a href="{{ path('admin_event')}}" class="current">Evénements</a>
			</div>
			
			<div class="container-fluid">
				
				<div class="row">
					<div class="col-12">
                    {% if 52 in rights %}     
					<button class="btn btn-default" onclick='window.location.href = "{{ url('admin_add_event')}}"'> Ajouter </a></button>
					{% endif %}

						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="glyphicon glyphicon-user"></i></span>
								<h5>LISTE DES EVENEMENTS</h5><span title="{{count}} events" class="label label-info tip-left">{{count}}</span>
							</div>
							<div class="widget-content nopadding">
								{# Tableau listing événements #}
								<div class="widget-content nopadding">
									<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr>
												<th>TITRE</th>
												<th>AUTEUR</th>
												<th>LIEU</th>
												<th>DESCRIPTION</th>
												<th>DATE</th>
												<th>PUBLIER LE</th>
												<th>ACTIONS</th>
											</tr>
										</thead>
										<tbody>
											{% for event in events %}
											<tr>
												<td><a href="{{path('event_show',{'id':event.id})}}">{{ event.title }}</a></td>
												<td><a href="{{path('user_show',{'id':event.user.id})}}">{{ event.user.username }}</a></td>
												<td>{{ event.place }}</td>
												<td>{{ event.description|slice(0, 20) | raw }}</td>
												<td>{{ event.datestart | date('d / m / Y') }} à {{ event.dateend | date('d / m / Y') }}</td>
												<td>{{ event.dateinsert|date('d-m-Y') }}</td>

												<td>
                                            {% if 54 in rights %}     

													{% if event.activate == 1 %}

													<button class="btn btn-success btn-mini" onclick="activateEvent('{{ event.id }}')">
														<i class="fa fa-edit"></i> Activer
													</button>
													{% else %}
													<button class="btn btn-warning btn-mini" onclick="activateEvent('{{ event.id }}')">
														<i class="fa fa-edit"></i> Désactiver
													</button>
													{% endif %}
											{% endif %}

                                            {% if 53 in rights %}     

													<button class="btn btn-info btn-mini" onclick='window.location.href = "{{ path('admin_edit_event', { 'id': event.id }) }}"'>
														<i class="fa fa-edit"></i> Editer
													</button>
											{% endif %}

                                            {% if 55 in rights %}     

													<button class="btn btn-danger btn-mini" onclick="deleteEvent('{{ event.id }}')">
														<i class="fa fa-edit"></i> Supprimer
													</button>
											{% endif %}

												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>							
								</div>
								{# Fin Tableau listing événements #}
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
		{% block javascripts %}
		
				            
       
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />
			<script>
				function deleteEvent(id)
				{
					$.ajax({
						url: "{{ path('event_delete')}}",
						type: "post",
						data: {id : id},
						success: function(){
							alert("success");
							window.location.reload();
						},
						error:function(){
							alert("failure");
						}
					});
				};

				function activateEvent(id)
				{
					$.ajax({
						url: "{{ path('event_activate')}}",
						type: "post",
						data: {id : id},
						success: function(){
							alert("success");
							window.location.reload();
						},
						error:function(){
							alert("failure");
						}
					});
				};

					        $("form input.date").datepicker({
				    dateFormat: 'dd/mm/yy',
				    firstDay:1
				}).attr("readonly","readonly");

	
			</script>
		{% endblock %}
	{% endblock %}
{% endblock %}
