{% extends "KnnfWhatsupBundle:Layout:admin.html.twig" %}

{% block title %}KnnfWhatsupBundle:Admin:index{% endblock %}

{% block body %}
{% block content %}
  <div id="content">
            <div id="content-header">
                <h1>Dashboard</h1>
                <div class="btn-group">
                    
                </div>
            </div>

            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
                <a href="#" class="current">Dashboard</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 center" style="text-align: center;">                 
                        <ul class="stat-boxes">
                            <li class="popover-visits">
                                <div class="left sparkline_bar_neutral"><span>Articles</span></div>
                                <div class="right">
                                    <strong>{{articles|length}}</strong>
                                    
                                </div>
                            </li>
                            <li class="popover-users">
                                <div class="left sparkline_bar_neutral"><span>Utilisateurs</span></div>
                                <div class="right">
                                    <strong>{{users|length}}</strong>
                                    
                                </div>
                            </li>
                            <li class="popover-orders">
                                <div class="left sparkline_bar_neutral"><span>Lookbooks</span></div>
                                <div class="right">
                                    <strong>{{lookbooks|length}}</strong>
                                    
                                </div>
                            </li>
                         
                        </ul>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-12">
                      
                        
                        </div>                  
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="widget-box">
                            <div class="widget-title"><span class="icon"><i class="glyphicon glyphicon-file"></i></span><h5>Derniers articles</h5><span title="{{ articles|length }} total posts" class="label label-info tip-left">{{ articles|length }}</span></div>
                            <div class="widget-content nopadding">
                                <ul class="recent-posts">
                                    {% for article in articles|slice(0, 3) %}
                                    {% set path = '/uploads/documents/'~article.path %}
                                    <li>
                                        <div class="user-thumb">
                                            <img  alt="User" src="{{ path | imagine_filter('avatar_index_admin')}}" style="margin-left: -3px;margin-top: -3px;">
                                        </div>
                                        <div class="article-post">
                                            <span class="user-info"> Par : <a href="{{path('user_show',{'id':article.user.id})}}">{{article.user.username}}</a> le {{article.dateinsert|date('d-m-Y')}} </span>
                                            <p>
                                                <a href="#">{{article.title}}</a>
                                            </p>
                                            <a href="#" class="btn btn-primary btn-mini" onclick='window.location.href = "{{ path('admin_edit_article', { 'id': article.id }) }}"'>Editer</a> {% if article.activate != 1 %}<a href="#" class="btn btn-success btn-mini" onclick="activateArticle('{{ article.id }}')" >Publier</a>{% else %} <a href="#" class="btn btn-warning btn-mini" onclick="activateArticle('{{ article.id }}')" >Désactiver</a> {% endif %} <a href="#" class="btn btn-danger btn-mini" onclick="deleteArticle('{{ article.id }}')" >Supprimer</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <li class="viewall">
                                        <a title="View all posts" class="tip-top" href="{{path('admin_article')}}"> + Voir tous les articles + </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="widget-box">
                            <div class="widget-title"><span class="icon"><i class="glyphicon glyphicon-comment"></i></span><h5>Derniers événements</h5><span title="{{ events|length }} total comments" class="label label-info tip-left">{{ events|length }}</span></div>
                            <div class="widget-content nopadding">
                                <ul class="recent-comments">
                                    {% for event in events|slice(0, 3) %}
                                    {% set path = '/uploads/documents/'~event.user.path %}

                                    <li>
                                        <div class="user-thumb">
                                            <img width="40" height="40" alt="User" src="{{ path | imagine_filter('avatar_index_admin')}}" style="margin-left: -3px;margin-top: -3px;">
                                        </div>
                                        <div class="comments">
                                            <span class="user-info"> Par : <a href="{{path('user_show',{'id':event.user.id})}}">{{event.user.username}}</a> le {{event.dateinsert|date('d-m-Y')}} </span>
                                            <p>
                                                <a href="{{path('event_show',{'id':event.id})}}">{{event.title}}</a>
                                            </p>
                                            <a href="#" class="btn btn-primary btn-mini" onclick='window.location.href = "{{ path('admin_edit_event', { 'id': event.id }) }}"'>Editer</a> {% if event.activate != 1 %}<a href="#" class="btn btn-success btn-mini" onclick="activateEvent('{{ event.id }}')" >Publier</a>{% else %} <a href="#" class="btn btn-warning btn-mini" onclick="activateEvent('{{ event.id }}')" >Désactiver</a> {% endif %} <a href="#" class="btn btn-danger btn-mini" onclick="deleteEvent('{{ event.id }}')" >Supprimer</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <li class="viewall">
                                        <a title="View all comments" class="tip-top" href="{{path('admin_event')}}"> + Voir tous les events + </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                       <div class="col-12 col-sm-6">
                        <div class="widget-box">
                            <div class="widget-title"><span class="icon"><i class="glyphicon glyphicon-comment"></i></span><h5>Derniers articles signalé</h5><span title="{{ annotations|length }} total comments" class="label label-info tip-left">{{ annotations|length }}</span></div>
                            <div class="widget-content nopadding">
                                <ul class="recent-comments">
                                    {% for annotation in annotations|slice(0, 3) %}
                                    {% set path = '/uploads/documents/'~annotation.user.path %}
                                    
                                    <li>
                                        <div class="user-thumb">
                                            <img width="40" height="40" alt="User" src="{{ path | imagine_filter('avatar_index_admin')}}" style="margin-left: -3px;margin-top: -3px;">
                                        </div>
                                        <div class="comments">
                                            <span class="user-info"> Par : <a href="{{path('user_show',{'id':annotation.user.id})}}">{{annotation.user.username}}</a> le {{annotation.dateinsert|date('d-m-Y')}} </span>
                                            <p>
                                                <a href="#">{{annotation.AnnotationContent}}</a>
                                            </p>
                                            <a href="#" class="btn btn-primary btn-mini" onclick='window.location.href = "{{ path('admin_edit_annotation', { 'id': annotation.id }) }}"'>Editer</a>  <a href="#" class="btn btn-danger btn-mini" onclick="deleteAnnotation('{{ annotation.id }}')" >Supprimer</a> <a href="{{path('admin_show_annotation',{'id':annotation.id})}}" class="btn btn-primary btn-mini">Voir</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <li class="viewall">
                                        <a title="View all comments" class="tip-top" href="{{path('admin_event')}}"> + Voir les articles signalés + </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                          <div class="col-12 col-sm-6">
                        <div class="widget-box">
                            <div class="widget-title"><span class="icon"><i class="glyphicon glyphicon-comment"></i></span><h5>Articles les mieux notés</h5><span title="{{ events|length }} total comments" class="label label-info tip-left">{{ events|length }}</span></div>
                            <div class="widget-content nopadding">
                                <ul class="recent-comments">
                                    {% for bestvote in bestvotes|slice(0, 3) %}
                                   
                                       {% set path = '/uploads/documents/'~bestvote.path %}
                                    
                                    <li>
                                        <div class="user-thumb">
                                            <img width="40" height="40" alt="User" src="{{ path | imagine_filter('avatar_index_admin')}}" style="margin-left: -3px;margin-top: -3px;">
                                        </div>
                                        <div class="comments">
                                        <span class="user-info"> {{ bestvote.title }}  </span>
                                         <p>
                                               Total  {{ bestvote.total }}
                                        </p>
                                        <a href="{{path('article_show',{'slug':bestvote.slug})}}" class="btn btn-primary btn-mini">Voir</a>
                                  
                                       </div>
                                    </li>

                                    {% endfor %}
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
         
                
            </div>
        </div>
{% block javascripts %}

<script>
function deleteArticle(id){
    $.ajax({
        url: "{{ path('article_delete')}}",
        type: "post",
        data: {id : id},
        success: function(){
            alert("success");
            //$("#result").html('Submitted successfully');
        },
        error:function(){
            alert("failure");
            //$("#result").html('There is error while submit');
        }
    });
};

function deleteAnnotation(id){
    $.ajax({
        url: "{{ path('annotation_delete')}}",
        type: "post",
        data: {id : id},
        success: function(){
            alert("success");
            //$("#result").html('Submitted successfully');
        },
        error:function(){
            alert("failure");
            //$("#result").html('There is error while submit');
        }
    });
};

    function activateArticle(id)
    {
        $.ajax({
            url: "{{ path('article_activate')}}",
            type: "post",
            data: {id : id},
            success: function(){
               // alert("success");
                window.location.reload();
            },
            error:function(){
                alert("failure");
            }
        });
    };

    function activateEvent(id)
    {
        $.ajax({
            url: "{{ path('event_activate')}}",
            type: "post",
            data: {id : id},
            success: function(){
                alert("success");
                window.location.reload();
            },
            error:function(){
                alert("failure");
            }
        });
    };

    function deleteEvent(id)
    {
        $.ajax({
            url: "{{ path('event_delete')}}",
            type: "post",
            data: {id : id},
            success: function(){
                alert("success");
                window.location.reload();
            },
            error:function(){
                alert("failure");
            }
        });
    };
</script>
 {% endblock %}
        {% endblock %}

{% endblock %}


