{% extends '::base.html.twig' %}

{% block body -%}
    {{ form(form) }}

    <h1>User list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Website</th>
                <th>Birthday</th>
                <th>Photo</th>
                <th>Country</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>Dateinsert</th>
                <th>Dateupdate</th>
                <th>Activate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.website }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.photo }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.zipcode }}</td>
                <td>{% if entity.dateinsert %}{{ entity.dateinsert|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateupdate %}{{ entity.dateupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.activate }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_add') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
