{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <h1>Evénement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.place }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Billeterie</th>
                <td>{{ entity.orderlink }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ entity.datestart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ entity.dateend|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Heure début</th>
                <td>{{ entity.hourstart|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Heure de fin</th>
                <td>{{ entity.hourend|date('H:i:s') }}</td>
            </tr>
          
        </tbody>
    </table>

  
{% endblock %}
