{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <div class="row" >

        {# partie gauche de la page article #}
        <div class="col-md-8 whatsup-singlearticle-left">

            {# Article #}
            <br />
            <div class="whatsup-article-author-profil" width="780px" height="300px">

<div class="panel panel-default" style="width:100%;">
        <div class="widget-box">
    <h2><strong>Evénement</strong></h2>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.place }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Billeterie</th>
                <td>{{ entity.orderlink }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>le {{ entity.datestart|date('d / m / Y') }} au {{ entity.dateend|date('d / m / Y') }}</td>
            </tr>
            <tr>
                <th>Heure </th>
                <td>{{ entity.hourstart|date('H:i') }} à {{ entity.hourend|date('H:i') }}</td>
            </tr>
         
          
        </tbody>
    </table>
  {#  <form>
  <input type="text" id="adresse"/>
  <input type="button"  value="Localiser sur Google Map" onclick="TrouverAdresse();"/>
</form>#}
    <span id="text_latlng"></span>
    <div id="map-canvas" style="height:350px;width:100%"></div>
            </div>
</div>

        
</div>
<div class="whatsup-article-author-profil" width="780px" height="300px">


</div>
         
 
            
        </div>

        {# partie droite de la page article #}
        <div class="col-md-4 whatsup-article-relative">
            <div>
                <h4>Articles les plus visualisés</h4>
                {{ render(controller("KnnfWhatsupBundle:Article:authorMostViewArticles", {"author": user, "limit":3} )) | raw }}

            </div>
            <div>
                <h4>Article les mieux notés</h4>
                {{ render(controller("KnnfWhatsupBundle:Article:authorArticles", {"author": user, "limit":3} )) }}

            </div>
        </div>

    </div>

    <style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Lato', 'sans-serif';
    }
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #DE4D3B;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #DE4D3B;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
    </style>

        {% block javascripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
</script>
   <script type="text/javascript">
var geocoder;
var map;
// initialisation de la carte Google Map de départ
function initialiserCarte() {
  geocoder = new google.maps.Geocoder();
  // Ici j'ai mis la latitude et longitude du vieux Port de Marseille pour centrer la carte de départ
  var latlng = new google.maps.LatLng(43.295309,5.374457);
  var mapOptions = {
    zoom      : 14,
    center    : latlng,
    mapTypeId : google.maps.MapTypeId.ROADMAP
  }
  // map-canvas est le conteneur HTML de la carte Google Map
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  TrouverAdresse();
}
 
function TrouverAdresse() {
  // Récupération de l'adresse tapée dans le formulaire
  //var adresse = document.getElementById('adresse').value;
  var adresse = '{{ entity.address }}';
  geocoder.geocode( { 'address': adresse}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      // Récupération des coordonnées GPS du lieu tapé dans le formulaire
      var strposition = results[0].geometry.location+"";
      strposition=strposition.replace('(', '');
      strposition=strposition.replace(')', '');
      // Affichage des coordonnées dans le <span>
      //document.getElementById('text_latlng').innerHTML='Coordonnées : '+strposition;
      // Création du marqueur du lieu (épingle)
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Adresse introuvable: ' + status);
    }
  });
}
// Lancement de la construction de la carte google map
google.maps.event.addDomListener(window, 'load', initialiserCarte);
</script>

        {% endblock %}
{% endblock %}
