{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('bundles/knnfwhatsup/s-gallery-master/css/demo-styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/knnfwhatsup/s-gallery-master/css/styles.css') }}" />
 <div class="demo-wrapper">

  <!--// Gallery Markup: A container that the plugin is called upon, and two lists for the images (use images with same aspect ratio) //-->
  <div id="gallery-container">
    
    <ul class="items--small">
    {% for lookbook in lookbooks %}
    {% set toto = '/uploads/documents/'~lookbook.path %}
      <li class="item"><a href="#"><img src="{{ toto | imagine_filter('lookbook_mosaique') }}" alt="" /></a></li>
    {% endfor %}
      {#<li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-2.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-3.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-4.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-5.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-6.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-7.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-8.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-9.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-10.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-11.png') }}" alt="" /></a></li>
      <li class="item"><a href="#"><img src="{{ asset('bundles/knnfwhatsup/s-gallery-master/images/small-12.png') }}" alt="" /></a></li>#}
    </ul>
    <ul class="items--big">
    {% for lookbook in lookbooks %}
    {% set tata = '/uploads/documents/'~lookbook.path %}
      <li class="item--big">
        
          <figure>
            <div style="background-color:#010101;color:#fff;opacity: 1;">{{lookbook.title}}</div>
            <img src="{{ tata | imagine_filter('lookbook_display') }}" alt="" />
            <figcaption class="img-caption">
            <a href="{{ path('user_show', { 'id': lookbook.user.id }) }}">
              {{lookbook.user.username}}
              </a>
            <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" >Signaler</button>
            </figcaption>
          </figure>
          
      </li>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Signaler l'image</h4>
      </div>
      <div class="modal-body" id="modal-body">
       <form>
        <fieldset>
        <label for="name">Description du motif</label><br>
        <input type="textarea" name="description" id="description" class="form-control"><br>
        <label for="name">Raison du signalement</label><br>
        <select name="select" class="form-control" width="50px">
          <option value="Orthographes">Orthographe</option> 
          <option value="Diffamation" >Diffamation</option>
          <option value="Copyright">Copyright</option>
          <option value="Autres" selected>Autres</option>
        </select>
        </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button id="signalementadd" type="button" class="btn btn-primary" onclick="addSignalement({{ lookbook.id }})">Envoyer</input>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    {% endfor %}
    
    </ul>
    <div class="controls" style="background-color:#010101">
      <span class="control icon-arrow-left" data-direction="previous"></span> 
      <span class="control icon-arrow-right" data-direction="next"></span> 
      <span class="grid icon-grid"></span>
      <span class="fs-toggle icon-fullscreen"></span>
    </div>
    
  </div>
  




</div><!--end demo-wrapper-->

  <script src="{{asset('bundles/knnfwhatsup/s-gallery-master/js/plugins.js')}}"></script>
  <script src="{{asset('bundles/knnfwhatsup/s-gallery-master/js/jquery-1.8.2.min.js')}}"></script>
  <script src="{{asset('bundles/knnfwhatsup/s-gallery-master/js/scripts.js')}}"></script>
  <script>
    $(document).ready(function(){
     $('#gallery-container').sGallery({
        fullScreenEnabled: true
      });
        $( "#signalement" ).click(function() {
          $( "#dialog-form" ).dialog( "open" );
        });
    });

      function addSignalement(id)
        {
            $.ajax({
                url: "{{ path('annotation_add')}}",
                type: "post",
                data: {
                    article_id: id,
                    description: $('[name="description"]').val(),
                    type: "lookbook_signalement"
                },
                success: function(){
                    alert("success");
                    //window.location.reload();
                },
                error:function(){
                    alert("failure");
                }
            });
        };



    
        $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            buttons: {
                Cancel: function() {
                    $( this ).dialog( "close" );
                },
                Submit: function() {
                    alert('tata');
                }
            }
        });


  </script>
{% endblock %}
