{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    {% if articles|length > 0 %}
    <div class="row">
                <div class="col-md-8">
                  	<div class="row">                        
						<div id="slider" style="position: relative; top: 0px; left: 0px; width: 780px; height: 300px; overflow: hidden;">
						    <!-- Slides Container -->
						    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 780px; height: 300px;">
                                {% set i = 0 %}
						        {% for article in articles %}
                                    {% if (article.picture is not empty) and (i < 5) %}
                                    {% set i=i+1 %}
							        <div>
								        <img u="image" src="{{ article.picture }}" />
									    <a href="{{ path('article_show', { 'slug': article.slug }) }}">
										    <div class="whatsup-slider-caption" u="caption" t="caption-transition-name">
										        <div class="whatsup-slider-title">{{ article.title }}</div>
										        <div class="whatsup-slider-content">{{ article.content }}</div>
										    </div>
								    	</a>
								    </div>
                                    {% endif %}
					       		{% endfor %}
						    </div>
						    <!-- Trigger -->
						    <script>jssor_slider1_starter('slider');</script>
						</div>
                  	</div>
	              	<div class="row whatsup-category-bests">
	                    <div class="col-md-7 whatsup-articleofthemonth whatsup-article-box">
	                        {{ render(controller("KnnfWhatsupBundle:Article:articleOfTheMonth", {"category": entity} )) }}
	                    </div>
	                    <div class="col-md-5">
                            {{ render(controller("KnnfWhatsupBundle:Article:authorOfTheMonth", {"category": entity} )) }}
	                    </div>  
                  	</div>
                </div>
                <div class="col-md-4 agenda_body visible-lg" id="toto">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'">Agenda</h1>
                    </div>
                    <div class="agenda_content">
                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>

                        <div class="row agenda_event">
                            <div class="col-md-2 event_date_box">
                                <div class="row event_month">Apr.</div>
                                <div class="row event_day">1</div>
                            </div>
                            <div class="col-md-5 event_name">
                                New York to Paris
                            </div>
                            <div class="col-md-4 event_place">
                                Bercy
                            </div>
                            <div class="col-md-1 event_action">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for article in articles %}
                    {% if (loop.index is divisibleby(4)) and (loop.index > 4) %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-3 whatsup-article-box">
                        <img class="whatsup-image" src="{{ article.picture }}">
                        <div id="content-{{ article.id }}">
                            <div class="box-head"><h1 style="font-family:'lighthouse_personal_useRg'; text-align:right;">{{ article.title }}</h1></div>
                            <div style="text-align:justify">{{ article.content }}</div>
                        </div>
                    </div>

                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
