{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    {% if articles|length > 0 %}
    <div class="row">
                <div class="col-md-8">
                  	<div class="row">                        
						<div id="slider" style="position: relative; top: 0px; left: 0px; width: 780px; height: 300px; overflow: hidden;">
						    <!-- Slides Container -->
						    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 780px; height: 300px;">
                                {% set i = 0 %}
						        {% for article in articles %}
                                    {% if (article.path is not empty) and (i < 5) %}
                                    {% set i=i+1 %}
							        <div>
								        <img u="image" src="/whatsup/web/uploads/documents/{{article.path}}" />
									    <a href="{{ path('article_show', { 'slug': article.slug }) }}">
										    <div class="whatsup-slider-caption" u="caption" t="caption-transition-name">
										        <div class="whatsup-slider-title">{{ article.title }}</div>
										        <div class="whatsup-slider-content">{{ article.content | raw}}</div>
										    </div>
								    	</a>
								    </div>
                                    {% endif %}
					       		{% endfor %}
						    </div>
						    <!-- Trigger -->
						    <script>jssor_slider1_starter('slider');</script>
						</div>
                  	</div>
	              	<div class="row whatsup-category-bests">
	                    <div class="col-md-7 whatsup-articleofthemonth whatsup-article-box">
	                        {{ render(controller("KnnfWhatsupBundle:Article:articleOfTheMonth", {"category": entity} )) }}
	                    </div>
	                    <div class="col-md-5">
                            {{ render(controller("KnnfWhatsupBundle:Article:authorOfTheMonth", {"category": entity} )) }}
	                    </div>  
                  	</div>
                </div>
                <div class="col-md-4 agenda_body visible-lg" id="toto" style="width:500px;">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'">Agenda</h1>
                    </div>
                    <div class="agenda_content">
                        {% if events != null %}
                        {% for event in events %}  
                            <div class="row agenda_event" onclick='displayEvent({{event.id}})'>
                                <div class="col-md-2 event_date_box">
                                    <div class="row event_month">{{ event.datestart | date('M') }}</div>
                                    <div class="row event_day">{{ event.datestart | date('d') }}</div>
                                </div>
                                <div class="col-md-5 event_name">
                                    {{ event.title }}
                                </div>
                                <div class="col-md-4 event_place">
                                    {{ event.place }}
                                </div>
                                <div class="col-md-1 event_action">
                                </div>
                            </div>
                            <div id="event_description">
                            <div id="agenda_content_description{{event.id}}" title="Description event">
                               <table>
                               <tr><td>Titre : </td><td>{{event.description}}</td></tr>
                               <tr><td>Lieu : </td><td>{{event.place}}</td></tr>
                               <tr><td>Adresse : </td><td>{{event.address}}</td></tr>
                               <tr><td>Billeterie : </td><td>{{event.orderlink}}</td></tr>
                               <tr><td>Date : </td><td>{{event.datestart | date('d-m-Y')}} - {{event.dateend | date('d-m-Y')}}</td></tr>
                               <tr><td>Horaire : </td><td>{{event.hourstart | date('H:i')}} - {{event.hourend | date('H:i')}}</td></tr>
                               <tr><td>Mise à jour le : </td><td>{{event.dateupdate | date('d-m-Y')}}</td></tr>
                               <tr><td><a href="http://www.google.com" >Voir l'event</td></tr>
                               </table>
                            </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row whatsup-article-row">
                {% for article in articles %}
                    {% if (loop.index is divisibleby(4)) and (loop.index > 4) %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <a href="{{ path('article_show', { 'slug': article.slug }) }}" class="col-md-3 whatsup-article-box articleItem" style="background:url('/whatsup/web/uploads/documents/{{ article.path }}') no-repeat scroll left center / cover;">
                        <div id="content-{{ article.id }}" class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{ article.title }}</h3>
                            <div class="line"></div>
                            <h4 class="author">{{ article.user.username }}</h4>
                        </div>
                    </a>

                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endif %}
        <script>
        window.onload = function () {
                $("#event_description").css("display","none");
            }
        function displayEvent(id){
                $('#agenda_content_description'+id).dialog({
                    width:'440px',
                   heigh:'200px',
                   resizable: true,
                   dialogClass:'agenda_content_description_dialog'
               });
            }
        </script>
{% endblock %}
