{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <div class="row">

        {# partie gauche de la page article #}
        <div class="col-md-8">
            {# Article #}
            <div class="whatsup-article">
                <h3 class="whatsup-article-title">{{ article.title }}</h3>
                <div class="whatsup-article-body">
                    {{ article.content | raw }}
                </div>
            </div>
            <div>
                <h5>Profil rédacteur</h5>
            </div>
            <div>
                <h5>Commentaires</h5>
                {{ render(controller("KnnfWhatsupBundle:Article:comment", {"article_id": article.id} )) }}
            </div>
        </div>

        {# partie droite de la page article #}
        <div class="col-md-4">
            <div>
                <h4>Articles relatifs</h4>
            </div>
            <div>
                <h4>Derniers articles de l'auteur</h4>
                {{ render(controller("KnnfWhatsupBundle:Article:authorArticles", {"author": article.user, "limit":5} )) }}

            </div>
        </div>

    </div>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ article.picture }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ article.status }}</td>
            </tr>
            <tr>
                <th>Dateinsert</th>
                <td>{{ article.dateinsert|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{{ article.dateupdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Activate</th>
                <td>{{ article.activate }}</td>
            </tr>
        </tbody>
    </table> 

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a
    </li>
    <li>
        <a href="{{ path('article_show', { 'slug': article.slug }) }}">
            Edit
        </a>
    </li>
    <li>delete</li>
    </ul>
    #}
{% endblock %}
