{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <div class="row">

        {# partie gauche de la page article #}
        <div class="col-md-8 whatsup-singlearticle-left">
            {# Article #}
            <div class="whatsup-article">
                <h3 class="whatsup-article-title"><strong>{{ article.title }}</strong></h3>
                <!-- <a id="signalement" class="btn btn-danger btn-mini">signaler</a>
                <a id="signalement" class="btn btn-primary btn-mini" onclick="addLike({{ article.id }})">Like</a> -->
                <span class="whatsup-article-date">{{ article.dateinsert | localizeddate('full', 'none') }}
                </span>
                <div class="whatsup-article-body">
                    {{ article.content | raw }}
                </div>
            </div>
            <div class="whatsup-like">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if userlikes > 0 %}
            <button type="button" class="btn btn-primary btn-xs disabled"  onclick="addLike({{ article.id }})">Like</button>
            {% else %}
            <button type="button" class="btn btn-primary btn-xs"  onclick="addLike({{ article.id }})">Like</button>
            {% endif %}
            <button id="signalement" type="button" class="btn btn-danger btn-xs">Signaler</button>
            {% endif %}
                <div class="fb-share-button" data-href="{{current_url}}" data-type="button"></div>
                <div class="fb-like" data-href="{{current_url}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            </div>
            <div class="whatsup-article-author">
                <div class="line"></div>
                <div class="row">
                    <div class="col-md-2">
                        {% set path_autor = '/uploads/documents/'~article.user.path %}
                        <img src="{{ (article.user.path|length  > 0) ? path_autor | imagine_filter('comment_avatar')  : asset('bundles/knnfwhatsup/img/default-avatar.png') }}" height="92px" />
                    </div>
                    <div class="col-md-10">
                        <div class="whatsup-username">{#article.user.username#} toto</div>
                        <div >{{nbcomments}} commentaire</div>
                        <div id="like">{{nblike}} like</div>
                       
                    </div>
                    
                </div>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            
            <div class="whatsup-article-comments">
                <div>
                    <form >
                        <label for="name">Poster un commentaire</label><br/>
                        {% set path_form_comment = '/uploads/documents/'~app.user.path %}
                        <img src="{{ (app.user.path|length  > 0) ? path_form_comment | imagine_filter('comment_avatar_form')  : asset('bundles/knnfwhatsup/img/default-avatar.png') }}" height="50px" />
                        <textarea name="commentaire"></textarea>
                        <br/>
                        <input type="submit" onclick="addComments({{article.id}})" value="Envoyer"/>     
                    </form>
                </div>
                <br/>
                <h2><strong>Commentaires</strong></h2>
                {{ render(controller("KnnfWhatsupBundle:Article:comment", {"article_id": article.id} )) }}
            </div>
            {% else %}
                <h2><strong>Commentaires</strong></h2>
                {{ render(controller("KnnfWhatsupBundle:Article:comment", {"article_id": article.id} )) }}
                <div class="connect">
                    <a href="{{ path('fos_user_security_login') }}" title="connecte-toi">Connecte-toi</a> ou <a href="{{ path('registration') }}" title="inscris-toi">Inscris-toi</a> pour poster un commentaire.
                </div>
            {% endif %}
            
        </div>

        {# partie droite de la page article #}
        <div class="col-md-4 whatsup-article-relative">
            <div>
                <h4><strong>Articles relatifs</strong></h4>
                {{ render(controller("KnnfWhatsupBundle:Article:categoryArticles", {"category":article.category, "limit":3} )) | raw }}

            </div>
            <div>
                <h4><strong>Derniers articles de l'auteur</strong></h4>
                {{ render(controller("KnnfWhatsupBundle:Article:authorArticles", {"author": article.user, "limit":3} )) }}

            </div>
        </div>

    </div>

<div id="dialog-form" title="Signalement">
<form>
<fieldset>
<label for="name">Raison du signalement</label>
<input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all">
</fieldset>
</form>
</div>
        {% block javascripts %}
            <script>

                $( document ).ready(function() {
                    console.log( "ready!" );
                    $( "#signalement" ).click(function() {
                        $( "#dialog-form" ).dialog( "open" );
                    });
                    
                });

                function addSignalement(id)
                {
                    $.ajax({
                        url: "{{ path('annotation_add')}}",
                        type: "post",
                        data: {
                            article_id: id,
                            description: $('[name="description"]').val(),
                            type: 'signalement',
                        },
                        success: function(){
                            alert("success");
                            //window.location.reload();
                        },
                        error:function(){
                            alert("failure");
                        }
                    });
                };

                function addComments(id)
                {
                    $.ajax({
                        url: "{{ path('annotation_add')}}",
                        type: "post",
                        data: {
                            article_id: id,
                            description: $('[name="commentaire"]').val(),
                            type: 'comments',
                        },
                        success: function(){
                            //alert("success");
                           // window.location.reload();
                        },
                        error:function(){
                            //alert("failure");
                        }
                    });
                };

                function addLike(id)
                {
                    $.ajax({
                        url: "{{ path('annotation_add')}}",
                        type: "post",
                        data: {
                            article_id: id,
                            description: $('[name="description"]').val(),
                            type: 'like',
                        },
                        success: function(data){
                            //alert(data);
                            $('#like').html(data+" likes")
                            //window.location.reload();
                        },
                        error:function(){
                            alert("failure");
                        }
                    });
                };



                $( "#dialog-form" ).dialog({
                    autoOpen: false,
                    height: 300,
                    width: 350,
                    buttons: {
                        Cancel: function() {
                            $( this ).dialog( "close" );
                        },
                        Submit: function() {
                            addSignalement({{article.id}});
                        }
                    }
                });

                 
            </script>
        {% endblock %}
{% endblock %}
