{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ entity.picture }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Dateinsert</th>
                <td>{{ entity.dateinsert|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{{ entity.dateupdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Activate</th>
                <td>{{ entity.activate }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('article_show', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>delete</li>
</ul>
{% endblock %}
