<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Unicorn Admin</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
            {% block stylesheets %}
                <link href="{{ asset('bundles/knnfwhatsup/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('bundles/knnfwhatsup/css/bootstrap-glyphicons.css') }}" type="text/css" rel="stylesheet" />
                <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                <link href="{{ asset('bundles/knnfwhatsup/css/fullcalendar.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('bundles/knnfwhatsup/css/unicorn.main.css') }}" type="text/css" rel="stylesheet" />
                <link href="{{ asset('bundles/knnfwhatsup/css/unicorn.grey.css') }}" type="text/css" rel="stylesheet" class="skin-color"/>
              
            {% endblock %}
    </head>
    <body style="font-family:Arial">
        <div id="header">
            <h1><a href="./dashboard.html.twig">Unicorn Admin</a></h1>   
            <a id="menu-trigger" href="#"><i class="glyphicon glyphicon-align-justify"></i></a> 
        </div>
        
        <div id="search">
            <input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <div id="user-nav">
            <ul class="btn-group">
                <li class="btn" ><a title="" href="#"><i class="glyphicon glyphicon-user"></i> <span class="text">Profile</span></a></li>
             
                <li class="btn"><a title="" href="#"><i class="glyphicon glyphicon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn"><a title="" href="login.html.twig"><i class="glyphicon glyphicon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
        <div id="sidebar">
            <!--<a href="#" class="hide"><i class="glyphicon glyphicon-home"></i> Dashboard</a>-->
            <ul>

                <li class="active"><a href="{{ url('admin_index', { 'slug': '' }) }}"><i class="glyphicon glyphicon-home"></i> <span>Dashboard</span></a></li>
				<li class="submenu">
					<a href="#"><i class="glyphicon glyphicon-user"></i> <span>Utilisateurs</span> <span class="label">4</span></a>
					<ul>
						<li><a href="{{ url('admin_user', { 'slug': 'utilisateurs' }) }}">Tous les utilisateurs</a></li>
                        <li><a href="{{ path('admin_add_user')}}">Ajouter</a></li>
                        <li><a href="{{ path('admin_organigramme')}}">Organigramme</a></li>
						<li><a href="{{ path('admin_add_user')}}">Droits</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="glyphicon glyphicon-file"></i> <span>Articles</span> <span class="label">4</span></a>
					<ul>
						<li><a href="{{ url('admin_article')}}">Tous les articles</a></li>
                        <li><a href="{{ path('admin_add_article')}}">Ajouter</a></li>
                        <li><a href="{{ path('admin_signalement')}}">Signalements</a></li>
                        <li><a href="{{ path('admin_comments')}}">Commentaires</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="glyphicon glyphicon-th-list"></i> <span>Catégories</span> <span class="label">2</span></a>
					<ul>
						<li><a href="{{ url('admin_category')}}">Tous les catégories</a></li>
                        <li><a href="{{ path('admin_add_category')}}">Ajouter</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="glyphicon glyphicon-camera"></i> <span>Médias</span> <span class="label">3</span></a>
					<ul>
						<li><a href="{{ url('admin_media')}}">Bibliothèque</a></li>
                        <li><a href="calendar.html">Facebook</a></li>
						<li><a href="calendar.html">Twitter</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="glyphicon glyphicon-calendar"></i> <span>Evénements</span> <span class="label">2</span></a>
					<ul>
						<li><a href="{{ url('admin_event')}}">Tous les événements</a></li>
                        <li><a href="{{ path('admin_add_event')}}">Ajouter</a></li>
					</ul>
				</li>
                <li><a href="{{ url('stat_index', { 'slug': 'stat' }) }}"><i class="glyphicon glyphicon-signal"></i> <span>Statistiques</span></a></li>

            </ul>
        
        </div>
        <div id="style-switcher">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span>Style:</span>
            <a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
            <a href="#light-blue" style="background-color: #8399b0;"></a>
            <a href="#blue" style="background-color: #2D2F57;"></a>
            <a href="#red" style="background-color: #673232;"></a>
            <a href="#red-green" style="background-image: url('/whatsup/web/bundles/knnfwhatsup/img/demo/red-green.png');background-repeat: no-repeat;"></a>
        </div>
        
     {% block content %}{% endblock %}
        <div class="row">
            <div id="footer" class="col-12">
                2013 - 2014 &copy; What's Up Admin<a href="#">Knnf</a>
            </div>
        </div>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/jquery.min.js')}}"></script>

        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/jquery.flot.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/fullcalendar.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/jquery.jpanelmenu.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/unicorn.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/knnfwhatsup/js/ckeditor/ckeditor.js')}}"></script>

                <script>

/*$.noConflict();              
jQuery(document).ready(function(){
jQuery( "#datepicker" ).datepicker();

});*/

</script>
    </body>
</html>
