{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
            <div class="row">
                <div class="col-md-8">
                  <div class="row">
                       <div id="slider" style="position: relative; top: 0px; left: 0px; width: 780px; height: 300px; overflow: hidden;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 780px; height: 300px;">
                                {% set i = 0 %}
                                {% for article in articles %}
                                    {% if (article.path is not empty) and (i < 5) %}
                                    {% set i=i+1 %}
                                    <div>
                                        <img u="image" src="/whatsup/web/uploads/documents/{{article.path}}" />
                                        <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                                            <div class="whatsup-slider-caption" u="caption" t="caption-transition-name">
                                                <div class="whatsup-slider-title">{{ article.title }}</div>
                                                <div class="whatsup-slider-content">{{ article.content | raw}}</div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Trigger -->
                            <script>jssor_slider1_starter('slider');</script>
                        </div>
                  </div>
                  <div class="row">



                        <a href="#" class="col-md-6 articleItem" style="height:200px; background:url({{asset('bundles/knnfwhatsup/img/viaduc.jpg')}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="small">Look book</h3>
                                <div class="linesmall"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="col-md-6 articleItem" style="height:200px; background:url({{asset('bundles/knnfwhatsup/img/guignol.jpg')}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="small">Look book</h3>
                                <div class="linesmall"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>

                  </div>
                </div>
                <div class="col-md-4 agenda_body visible-lg" id="toto">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'">Agenda</h1>
                    </div>
                    
                    <div class="agenda_content" id="agenda_content">
                    {% if events != null %}
                        {% for event in events %}  
                            <div class="row agenda_event" onclick='displayEvent({{event.id}})'>
                                <div class="col-md-2 event_date_box">
                                    <div class="row event_month">{{ event.datestart | date('M') }}</div>
                                    <div class="row event_day">{{ event.datestart | date('d') }}</div>
                                </div>
                                <div class="col-md-5 event_name">
                                    {{ event.title }}
                                </div>
                                <div class="col-md-4 event_place">
                                    {{ event.place }}
                                </div>
                                <div class="col-md-1 event_action">
                                </div>
                            </div>
                            <div id="event_description">
                            <div id="agenda_content_description{{event.id}}" title="Description event">
                               <table>
                               <tr><td>Titre : </td><td>{{event.description}}</td></tr>
                               <tr><td>Lieu : </td><td>{{event.place}}</td></tr>
                               <tr><td>Adresse : </td><td>{{event.address}}</td></tr>
                               <tr><td>Billeterie : </td><td>{{event.orderlink}}</td></tr>
                               <tr><td>Date : </td><td>{{event.datestart | date('d-m-Y')}} - {{event.dateend | date('d-m-Y')}}</td></tr>
                               <tr><td>Horaire : </td><td>{{event.hourstart | date('H:i')}} - {{event.hourend | date('H:i')}}</td></tr>
                               <tr><td>Mise à jour le : </td><td>{{event.dateupdate | date('d-m-Y')}}</td></tr>
                               <tr><td><a href="http://www.google.com" >Voir l'event</td></tr>
                               </table>
                            </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                       
                    </div>
                    
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <a href="#" class="col-md-6 articleItem" style="height:400px; background:url() no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="long">Look book</h3>
                                <div class="line"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>

                        <a href="#" class="col-md-6 articleItem" style="height:400px; background:url({{asset('bundles/knnfwhatsup/img/shoe.jpg')}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="long">Look book</h3>
                                <div class="line"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        
                            
                        <a href="/whatsup/web/app_dev.php/whatsup/article/{{musics[0].slug}}" class="col-md-12 articleItem" style="height:200px; background:url(/whatsup/web/uploads/documents/{{musics[0].path}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="large">{{musics[0].title}}</h3>
                                <div class="line2"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        
                        <a href="/whatsup/web/app_dev.php/whatsup/article/{{musics[1].slug}}" class="col-md-12 articleItem" style="height:200px; background:url(/whatsup/web/uploads/documents/{{musics[1].path}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="large">{{musics[1].title}}</h3>
                                <div class="line2"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    </div>


            </div>
            <div class="col-md-12">
                <div class="row articles">
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/beaugrenelle.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/blanche.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel2.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/beaugrenelle.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel2.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/blanche.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel2.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/blanche.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                    <a href="#" class="col-md-3 articleItem" style="background:url({{asset('bundles/knnfwhatsup/img/beaugrenelle.jpg')}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>My Shoes</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                Nirunthan Parameswaran
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
        var config = {
            interval: 7000,
            articleCount:4,
            carouselInterval: 300
        }

        var whatsup = {};

        whatsup.app = {
            firstTime: true,
            initialize: function() {
                var self = this;
                $.ajax({
                    url: "{{ path('article_getarticles')}}",
                    type: "post",
                    success: function(data){
                        self.startCarrouselWith(JSON.parse(data));
                    },
                    error:function(){
                        console.log("[WHATSUP] Cannot load datas from : {{ path('article_getarticles')}}");
                    }
                });
            },
            startCarrouselWith: function (datas) {
                var self = this,
                start = 0,
                articleNumber = config.articleCount;

                var parseArrays = function () {
                    var arrayToSend;
                    if((start + articleNumber) <= datas.length){
                        arrayToSend = datas.slice(start, start + articleNumber);
                        start = start + articleNumber;

                    }else{
                        // article left in the current array
                        var articleLeftLength = datas.length - start;

                        // get the remaining items
                        var arrayFound = datas.slice(datas.length - articleLeftLength, datas.length);

                        // the new index to start OR the item.length to refrive in the new array
                        var newIndexToStart = 4 - articleLeftLength;

                        // get the count from the first element
                        var arrayFound2 = datas.slice(0, newIndexToStart);

                        // merge them all
                        arrayToSend = arrayFound.concat(arrayFound2);

                        // define a new start index
                        start = newIndexToStart;

                    }
                    // update the view
                    self.updateArticleRow(arrayToSend);
                }
                parseArrays();
                var dataInterval = setInterval(parseArrays, config.interval);
            },
            updateArticleRow: function (datas) {
                var self = this,
                contentToPush = [];
                for (var i = datas.length - 1; i >= 0; i--) {
                    var resu = datas[i];
                    var slug = "/whatsup/web/app_dev.php/whatsup/article/" + resu.slug;
                    var htmlToAppend = 
                    '<a href="'+slug+'" class="col-md-3 articleItem" style="background:url(/whatsup/web/uploads/documents/'+resu.path+') no-repeat scroll left center / cover;">'+
                        '<div class="contentItem">'+
                            '<div class="backgroundContent"></div>'+
                            '<h3>' + resu.title + '</h3>'+
                            '<div class="line"></div>'+
                            '<h4 class="author">'+
                                (resu.author || 'Nirunthan Parameswaran') +
                            '</h4>'+
                        '</div>'+
                    '</a>';
                    contentToPush.push(htmlToAppend);
                };
                if(self.firstTime){
                    self.firstTime = false;                   
                    $('.row.articles').html(contentToPush.join(' '));

                }else{
                    $('.row.articles').fadeOut(config.carouselInterval, function () {                    
                        $(this).html(contentToPush.join(' '));
                        $(this).fadeIn(config.carouselInterval);
                    });
                }

            }
        }

        window.onload = function () {
            $("#event_description").css("display","none");
            whatsup.app.initialize();
            initializeTrucChelou();
        }


        function displayEvent(id){
            $('#agenda_content_description'+id).dialog({
                width:'440px',
               heigh:'200px',
               resizable: true,
               dialogClass:'agenda_content_description_dialog'
           });
        }

        function initializeTrucChelou (nameSlider) {
                
        // jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };

        var jssor_slider1 = new $JssorSlider$('slider', options);
        //var jssor_slider_accueil = new $JssorSlider$('slider-accueil',options);

        //you can remove responsive code if you don't want the slider scales
        //while window resizes
        function ScaleSlider() {
            var parentWidth = $('#slider').parent().width();
            if (parentWidth) {
                jssor_slider1.$SetScaleWidth(parentWidth);
            }
            else
                window.setTimeout(ScaleSlider, 30);
        }
        //Scale slider after document ready
        ScaleSlider();
        if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
            //Capture window resize event
            $(window).bind('resize', ScaleSlider);
        }

        $(".whatsup-article-box").each(function(){
            $(this).height($(this).parent().outerHeight());
            if($(this).children("img").height() != $(this).outerHeight()){
                $(this).children("img").height($(this).outerHeight());
            }
            if($(this).children("img").width() != $(this).outerWidth()){
                $(this).children("img").width($(this).outerWidth());
            }

        });
    }

        </script>

    {% endblock %}
{% endblock %}




