{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
            <div class="row">
                <div class="col-md-8">
                  <div class="row">
                       <div id="slider" style="position: relative; top: 0px; left: 0px; width: 780px; height: 300px; overflow: hidden;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 780px; height: 300px;">
                                {% set i = 0 %}
                                {% for article in articles %}
                                {% set path = '/uploads/documents/'~article.path %}
                                    {% if (article.path is not empty) and (i < 3) %}
                                    {% set i=i+1 %}
                                    <div>
                                        <img src="{{ path | imagine_filter('slide') }}" />
                                        <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                                            <div class="whatsup-slider-caption" u="caption" t="caption-transition-name">
                                                <div class="whatsup-slider-title">{{ article.title }}</div>
                                                <div class="whatsup-slider-content">{{ article.content | raw}}</div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Trigger -->
                            <script>jssor_slider1_starter('slider');</script>
                        </div>
                  </div>
                  <div class="row">
                        {#<a href="#" class="col-md-6 articleItem" style="height:200px; background:url( {{ 'bundles/knnfwhatsup/img/viaduc.jpg' | imagine_filter('slide') }}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="small">Look book</h3>
                                <div class="linesmall"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>#}
                    {{ render(controller("KnnfWhatsupBundle:Article:authorOfTheMonth" )) }}
                    {{ render(controller("KnnfWhatsupBundle:Article:articleOfTheMonth")) }}

                  </div>
                </div>
                <div class="col-md-4 agenda_body visible-lg" id="toto">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'"><a href="{{path('event_index')}}" style="color:#373737">Agenda</a></h1>
                    </div>
                    
                    <div class="agenda_content" id="agenda_content">
                    {% if events != null %}
                        {% for event in events %}  
                        <a href="{{path('event_show', {'id': event.id})}}" style="color:#373737">
                            <div class="row agenda_event" >
                                <div class="col-md-2 event_date_box">
                                    <div class="row event_month">{{ event.datestart | date('M') }}</div>
                                    <div class="row event_day">{{ event.datestart | date('d') }}</div>
                                </div>
                                <div class="col-md-5 event_name">
                                    {{ event.title }}
                                </div>
                                <div class="col-md-4 event_place">
                                    {{ event.place }}
                                </div>
                                <div class="col-md-1 event_action">
                                </div>
                            </div>
                        </a>
              
                           {# </div>#}
                        {% endfor %}
                    {% endif %}
                       
                    </div>
                    
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                    {% for lookbook in lookbooks %}
                        <a href="{{path('lookbook_show',{'id':lookbook.id})}}" class="col-md-6 articleItem" style="height:400px; background:url({{asset('uploads/documents/'~ lookbook.path)}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="long">{{lookbook.title}}</h3>
                                <div class="line"></div>
                                <h4 class="author">
                                    {{lookbook.user.username}}
                                </h4>
                            </div>
                        </a>    
                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        {% if ( push|length > 1) %}
                            {% set bar_slug = push[0].slug %}
                            {% set bar_title = push[0].title %}
                            {% set bar_username = push[0].user.username %}
                            {% set bar_path = push[0].path %}
                        {% else %}
                            {% set bar_slug = musics[0].slug %}
                            {% set bar_title = musics[0].title %}
                            {% set bar_username = musics[0].user.username %}
                            {% set bar_path = musics[0].path %}
                        {% endif %}
                        <a href="{{path('article_show',{'slug':bar_slug})}}" class="col-md-12 articleItem" style="height:200px; background:url({{asset('uploads/documents/'~ bar_path)}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="large">{{bar_title}}</h3>
                                <div class="line2"></div>
                                <h4 class="author">
                                   {{bar_username}}
                                </h4>
                            </div>
                        </a>
                    </div>

                    <div class="row">
                        {% if ( push|length > 1) %}
                            {% set bar_slug2 = push[1].slug %}
                            {% set bar_title2 = push[1].title %}
                            {% set bar_username2 = push[1].user.username %}
                            {% set bar_path2 = push[1].path %}
                        {% else %}
                            {% set bar_slug2 = musics[1].slug %}
                            {% set bar_title2 = musics[1].title %}
                            {% set bar_username2 = musics[1].user.username %}
                            {% set bar_path2 = musics[1].path %}
                        {% endif %}
                        <a href="{{path('article_show',{'slug':bar_slug2})}}" class="col-md-12 articleItem" style="height:200px; background:url({{asset('uploads/documents/'~ bar_path2)}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="large">{{bar_title2}}</h3>
                                <div class="line2"></div>
                                <h4 class="author">
                                   {{bar_username2}}
                                </h4>
                            </div>
                        </a>
                    </div>


            </div>
            <div class="col-md-12">
                <div class="row articles">
                {% if favory1 != null %}
                    {% set loop1 = favory1 %}
                {% else %}
                    {% set loop1 = articles1 %}
                {% endif %}


                {% for article in loop1|slice(0, 4) %}
                    <a href="{{path('article_show',{'slug':article.slug})}}" class="col-md-3 articleItem" style="background:url({{asset('uploads/documents/'~ article.path)}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{article.title}}</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                {{article.user.username}}
                            </h4>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="row articles">
                {% if favory2 != null %}
                {% set loop2 = favory2 %}
                {% else %}
                {% set loop2 = articles1|slice(5, 8) %}
                {% endif %}

                {% for article in loop2 %}
                    <a href="{{path('article_show',{'slug':article.slug})}}" class="col-md-3 articleItem" style="background:url({{asset('uploads/documents/'~ article.path)}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{article.title}}</h3>
                            <div class="line"></div>
                            <h4 class="author">
                            {% if article.user != null %}
                                {{article.user.username}}
                            {% endif %}
                            </h4>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="row articles">
                {% if favory3 != null %}
                {% set loop3 = favory3 %}
                {% else %}
                {% set loop3 = articles1|slice(9, 12) %}
                {% endif %}
                {% for article in loop3 %}
                    <a href="{{path('article_show',{'slug':article.slug})}}" class="col-md-3 articleItem" style="background:url({{asset('uploads/documents/'~ article.path)}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{article.title}}</h3>
                            <div class="line"></div>
                            <h4 class="author">
                            {% if article.user != null %}
                                {{article.user.username}}
                            {% endif %}
                            </h4>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>


        </div>
    </div>
    
    {% block javascripts %}
        <script>
     
        var config = {
            interval: 7000,
            articleCount:4,
            carouselInterval: 300
        }

        window.onload = function () {
            $("#event_description").css("display","none");
           // whatsup.app.initialize();
            initializeTrucChelou();
        }


        function displayEvent(id){
            $('#agenda_content_description'+id).dialog({
                width:'440px',
               heigh:'200px',
               resizable: true,
               dialogClass:'agenda_content_description_dialog'
           });
        }

        function initializeTrucChelou (nameSlider) {
                
        // jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };

        var jssor_slider1 = new $JssorSlider$('slider', options);
        //var jssor_slider_accueil = new $JssorSlider$('slider-accueil',options);

        //you can remove responsive code if you don't want the slider scales
        //while window resizes
        function ScaleSlider() {
            var parentWidth = $('#slider').parent().width();
            if (parentWidth) {
                jssor_slider1.$SetScaleWidth(parentWidth);
            }
            else
                window.setTimeout(ScaleSlider, 30);
        }
        //Scale slider after document ready
        ScaleSlider();
        if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
            //Capture window resize event
            $(window).bind('resize', ScaleSlider);
        }

        $(".whatsup-article-box").each(function(){
            $(this).height($(this).parent().outerHeight());
            if($(this).children("img").height() != $(this).outerHeight()){
                $(this).children("img").height($(this).outerHeight());
            }
            if($(this).children("img").width() != $(this).outerWidth()){
                $(this).children("img").width($(this).outerWidth());
            }

        });
    }

        </script>

    {% endblock %}
{% endblock %}




