{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}


{% block body %}
{% block content %}




            <div class="row">
                <div class="col-md-8">
                  <div class="row" style="background:url({{asset('bundles/knnfwhatsup/img/paris-newyork.jpg')}}) no-repeat scroll left center / cover;">
                        &nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />
                  </div>
                  <div class="row">
                    <div class="col-md-7" style="background:url({{asset('bundles/knnfwhatsup/img/viaduc.jpg')}}) no-repeat scroll left center / cover;">
                        &nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /><br />&nbsp;<br />
                    </div>
                    <div class="col-md-5" style="background:url({{asset('bundles/knnfwhatsup/img/guignol.jpg')}}) no-repeat scroll left center / cover;">
                        &nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /><br />&nbsp;<br />
                    </div>  
                  </div>
                </div>
                <div class="col-md-4 agenda_body visible-lg" id="toto">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'">Agenda</h1>
                    </div>
                    
                    <div class="agenda_content" id="agenda_content">
                    {% if events != null %}
                        {% for event in events %}  
                            <div class="row agenda_event" onclick='displayEvent({{event.id}})'>
                                <div class="col-md-2 event_date_box">
                                    <div class="row event_month">{{ event.datestart | date('M') }}</div>
                                    <div class="row event_day">{{ event.datestart | date('d') }}</div>
                                </div>
                                <div class="col-md-5 event_name">
                                    {{ event.title }}
                                </div>
                                <div class="col-md-4 event_place">
                                    {{ event.place }}
                                </div>
                                <div class="col-md-1 event_action">
                                </div>
                            </div>
                            <div id="event_description">
                            <div id="agenda_content_description{{event.id}}" title="Description event">
                               <table>
                               <tr><td>Titre : </td><td>{{event.description}}</td></tr>
                               <tr><td>Lieu : </td><td>{{event.place}}</td></tr>
                               <tr><td>Adresse : </td><td>{{event.address}}</td></tr>
                               <tr><td>Billeterie : </td><td>{{event.orderlink}}</td></tr>
                               <tr><td>Date : </td><td>{{event.datestart | date('d-m-Y')}} - {{event.dateend | date('d-m-Y')}}</td></tr>
                               <tr><td>Horaire : </td><td>{{event.hourstart | date('H:i')}} - {{event.hourend | date('H:i')}}</td></tr>
                               <tr><td>Mise à jour le : </td><td>{{event.dateupdate | date('d-m-Y')}}</td></tr>
                               <tr><td><a href="http://www.google.com" >Voir l'event</td></tr>
                               </table>
                            </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                       
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6" style="text-align:justify; height:400px;">
                            <div class="box-head">
                                <h1 style="font-family:'lighthouse_personal_useRg'; text-align:right;">Look Book</h1>
                            </div>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                        </div>
                        <div class="col-md-6" style="background:url({{asset('bundles/knnfwhatsup/img/shoe.jpg')}}) no-repeat scroll left center / cover;">
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="background:url({{asset('bundles/knnfwhatsup/img/lmfao.jpg')}}) no-repeat scroll left center / cover;">
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                    <div class="row" style="background:url({{asset('bundles/knnfwhatsup/img/leclub.jpg')}}) no-repeat scroll left center / cover;">
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
                <div class="col-md-3">
                    <div class="box-head">
                                <h1 style="font-family:'lighthouse_personal_useRg'; text-align:right;">My Shoes</h1>
                    </div>
                    <div style="text-align:justify">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </div>
                </div>
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel2.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/blanche.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'; text-align:right;">My Shoes</h1>
                    </div>
                    <div style="text-align:justify">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </div>
                </div>
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/beaugrenelle.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
                <div class="col-md-3">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'; text-align:right;">My Shoes</h1>
                    </div>
                    <div style="text-align:justify">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </div>
                </div>
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
            </div>
            <div class="row">
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/blanche.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
                <div class="col-md-3">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'; text-align:right;">My Shoes</h1>
                    </div>
                    <div style="text-align:justify">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </div>
                </div>
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/eiffel2.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
                <div class="col-md-3" style="background:url({{asset('bundles/knnfwhatsup/img/beaugrenelle.jpg')}}) no-repeat scroll left center / cover;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
            </div>
        </div>
    </div>
{% block javascripts %}
            <script>
                $(document).ready(function(){
                    $("#event_description").css("display","none");
                    
                });

                function displayEvent(id){
                    $('#agenda_content_description'+id).dialog({
                        width:'440px',
                        heigh:'200px',
                        resizable: true,
                        dialogClass:'agenda_content_description_dialog'
                    });

                        
                }

                function getArticles()
                {
                    $.ajax({
                        url: "{{ path('article_getarticles')}}",
                        type: "post",
                        success: function(data){
                            alert(data);
                            //window.location.reload();
                        },
                        error:function(){
                            alert("failure");
                        }
                    });
                };


            </script>
        {% endblock %}
{% endblock %}
{% endblock %}




