{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
            <div class="row">
                <div class="col-md-8">
                  <div class="row">
                       <div id="slider" style="position: relative; top: 0px; left: 0px; width: 780px; height: 300px; overflow: hidden;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 780px; height: 300px;">
                                {% set i = 0 %}
                                {% for article in articles %}
                                {% set path = '/uploads/documents/'~article.path %}
                                    {% if (article.path is not empty) and (i < 5) %}
                                    {% set i=i+1 %}
                                    <div>
                                        <img src="{{ path | imagine_filter('slide') }}" />
                                        <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                                            <div class="whatsup-slider-caption" u="caption" t="caption-transition-name">
                                                <div class="whatsup-slider-title">{{ article.title }}</div>
                                                <div class="whatsup-slider-content">{{ article.content | raw}}</div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Trigger -->
                            <script>jssor_slider1_starter('slider');</script>
                        </div>
                  </div>
                  <div class="row">
                        <a href="#" class="col-md-6 articleItem" style="height:200px; background:url( {{ 'bundles/knnfwhatsup/img/viaduc.jpg' | imagine_filter('slide') }}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="small">Look book</h3>
                                <div class="linesmall"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    {#{ render(controller("KnnfWhatsupBundle:Article:authorOfTheMonth" )) }#}
                    {{ render(controller("KnnfWhatsupBundle:Article:articleOfTheMonth")) }}

                  </div>
                </div>
                <div class="col-md-4 agenda_body visible-lg" id="toto">
                    <div class="box-head">
                        <h1 style="font-family:'lighthouse_personal_useRg'">Agenda</h1>
                    </div>
                    
                    <div class="agenda_content" id="agenda_content">
                    {% if events != null %}
                        {% for event in events %}  
                            <div class="row agenda_event" onclick='displayEvent({{event.id}})' data-toggle="modal" data-target="#event_description{{event.id}}">
                                <div class="col-md-2 event_date_box">
                                    <div class="row event_month">{{ event.datestart | date('M') }}</div>
                                    <div class="row event_day">{{ event.datestart | date('d') }}</div>
                                </div>
                                <div class="col-md-5 event_name">
                                    {{ event.title }}
                                </div>
                                <div class="col-md-4 event_place">
                                    {{ event.place }}
                                </div>
                                <div class="col-md-1 event_action">
                                </div>
                            </div>
                            {#<div id="event_description">
                            <div id="agenda_content_description{{event.id}}" title="Description event">
                               <table>
                               <tr><td>Titre : </td><td>{{event.description}}</td></tr>
                               <tr><td>Lieu : </td><td>{{event.place}}</td></tr>
                               <tr><td>Adresse : </td><td>{{event.address}}</td></tr>
                               <tr><td>Billeterie : </td><td>{{event.orderlink}}</td></tr>
                               <tr><td>Date : </td><td>{{event.datestart | date('d-m-Y')}} - {{event.dateend | date('d-m-Y')}}</td></tr>
                               <tr><td>Horaire : </td><td>{{event.hourstart | date('H:i')}} - {{event.hourend | date('H:i')}}</td></tr>
                               <tr><td>Mise à jour le : </td><td>{{event.dateupdate | date('d-m-Y')}}</td></tr>
                               <tr><td><a href="{{path('event_show', {'id': event.id,})}}" >Voir l'event</td></tr>
                               </table>
                            </div>#}

                            <div id="event_description{{event.id}}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-sm tata">
                                <div class="modal-content" style="padding:15px;">
                                   <table>
                               <tr><td>Titre : </td><td>{{event.description}}</td></tr>
                               <tr><td>Lieu : </td><td>{{event.place}}</td></tr>
                               <tr><td>Adresse : </td><td>{{event.address}}</td></tr>
                               <tr><td>Billeterie : </td><td>{{event.orderlink}}</td></tr>
                               <tr><td>Date : </td><td>{{event.datestart | date('d-m-Y')}} - {{event.dateend | date('d-m-Y')}}</td></tr>
                               <tr><td>Horaire : </td><td>{{event.hourstart | date('H:i')}} - {{event.hourend | date('H:i')}}</td></tr>
                               <tr><td>Mise à jour le : </td><td>{{event.dateupdate | date('d-m-Y')}}</td></tr>
                               <tr><td><a href="{{path('event_show', {'id': event.id,})}}" >Voir l'event</td></tr>
                               </table>
                                </div>
                              </div>
                            </div>
                           {# </div>#}
                        {% endfor %}
                    {% endif %}
                       
                    </div>
                    
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <a href="#" class="col-md-6 articleItem" style="height:400px; background:url({{asset('bundles/knnfwhatsup/img/shoe.jpg')}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="long">Look book</h3>
                                <div class="line"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>

                        <a href="#" class="col-md-6 articleItem" style="height:400px; background:url({{asset('bundles/knnfwhatsup/img/shoe.jpg')}}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="long">Look book</h3>
                                <div class="line"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <a href="/article/{% if ( push|length > 0) %}{{push[0].slug}}{% else %}{{musics[0].slug}}{% endif %}" class="col-md-12 articleItem" style="height:200px; background:url(/whatsup/web/uploads/documents/{% if ( push|length > 1) %}{{push[0].path}}{% else %}{{musics[0].path}}{% endif %}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="large">{% if ( push|length > 0) %}{{push[0].title}}{% else %}{{musics[0].title}}{% endif %}</h3>
                                <div class="line2"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    </div>

                    <div class="row">
                        
                        <a href="/article/{% if ( push|length > 1) %}{{push[1].slug}}{% else %}{{musics[1].slug}}{% endif %}" class="col-md-12 articleItem" style="height:200px; background:url(/whatsup/web/uploads/documents/{% if ( push|length > 1) %}{{push[1].path}}{% else %}{{musics[1].path}}{% endif %}) no-repeat scroll left center / cover;">
                            <div class="contentItem">
                                <div class="backgroundContent"></div>
                                <h3 class="large">{% if ( push|length > 1) %}{{push[1].title}}{% else %}{{musics[1].title}}{% endif %}</h3>
                                <div class="line2"></div>
                                <h4 class="author">
                                    Nirunthan Parameswaran
                                </h4>
                            </div>
                        </a>
                    </div>


            </div>
            <div class="col-md-12">
                <div class="row articles">
                {% for article in articles1|slice(0, 4) %}
                    <a href="{{path('article_show',{'slug':article.slug})}}" class="col-md-3 articleItem" style="background:url({{asset('uploads/documents/'~ article.path)}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{article.title}}</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                {{article.user.username}}
                            </h4>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                {% for article in articles1|slice(4, 8) %}
                    <a href="{{path('article_show',{'slug':article.slug})}}" class="col-md-3 articleItem" style="background:url({{asset('uploads/documents/'~ article.path)}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{article.title}}</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                {{article.user.username}}
                            </h4>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                 {% for article in articles1|slice(8, 12) %}
                    <a href="{{path('article_show',{'slug':article.slug})}}" class="col-md-3 articleItem" style="background:url({{asset('uploads/documents/'~ article.path)}}) no-repeat scroll left center / cover;">
                        <div class="contentItem">
                            <div class="backgroundContent"></div>
                            <h3>{{article.title}}</h3>
                            <div class="line"></div>
                            <h4 class="author">
                                {{article.user.username}}
                            </h4>
                        </div>
                    </a>
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
    
    {% block javascripts %}
        <script>
        var config = {
            interval: 7000,
            articleCount:4,
            carouselInterval: 300
        }

      

        window.onload = function () {
            $("#event_description").css("display","none");
           // whatsup.app.initialize();
            initializeTrucChelou();
        }


        function displayEvent(id){
            $('#agenda_content_description'+id).dialog({
                width:'440px',
               heigh:'200px',
               resizable: true,
               dialogClass:'agenda_content_description_dialog'
           });
        }

        function initializeTrucChelou (nameSlider) {
                
        // jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };

        var jssor_slider1 = new $JssorSlider$('slider', options);
        //var jssor_slider_accueil = new $JssorSlider$('slider-accueil',options);

        //you can remove responsive code if you don't want the slider scales
        //while window resizes
        function ScaleSlider() {
            var parentWidth = $('#slider').parent().width();
            if (parentWidth) {
                jssor_slider1.$SetScaleWidth(parentWidth);
            }
            else
                window.setTimeout(ScaleSlider, 30);
        }
        //Scale slider after document ready
        ScaleSlider();
        if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
            //Capture window resize event
            $(window).bind('resize', ScaleSlider);
        }

        $(".whatsup-article-box").each(function(){
            $(this).height($(this).parent().outerHeight());
            if($(this).children("img").height() != $(this).outerHeight()){
                $(this).children("img").height($(this).outerHeight());
            }
            if($(this).children("img").width() != $(this).outerWidth()){
                $(this).children("img").width($(this).outerWidth());
            }

        });
    }

        </script>

    {% endblock %}
{% endblock %}




